<div class="title post single">
  <h2><%= @title %></h2>
</div>

<div class="post">
  <div class="post-content">
    <div class="panel panel-default">
      <% if @article.photo and !@article.photo.url.blank? %>
        <%= link_to image_tag(@article.photo.url(:full), :class => 'img-responsive'), article_path(@article), :class => 'image' %>
      <% end %>
      <div class="picture-footer"><%= @article.photo_footer %></div>
      <div class="picture-credits">Foto: <%= link_to @article.photo_credit, @article.photo_credit_link, target: '_blank' %></div>
      <div class="panel-body">
        <div class="post-date">
          <span class="day"><%= @article.publication_date.day %></span>
          <span class="month"><%= I18n.localize(@article.publication_date, :format => "%B")[0,3] %></span>
          <span class="year"><%= @article.publication_date.year %></span>
        </div>
        <h3 class="post-title"><%= @article.lead %></h3>
        <div class="post-meta">Por <%= @article.author.name %></div>
        <div class="post-description">
          <%= raw(@article.content) %>
        </div>
        <!-- CIVIO Banner -->
        <a href="http://www.civio.es/dona/" class="civio-banner" target="_blank">
          <img class="img-responsive" alt="Banner civio" src="<%= asset_path("banner_civio.jpg") %>">
        </a>
        <%= render 'partials/sharing_buttons', title: @title %>
      </div>
      <div class="post-comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'quincobralaobra'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
  </div>
</div>
