<div class="title post single">
  <h2><%= @title %></h2>
</div>

<div class="row no-gutter post">

  <div class="post-content col-sm-8">
    <div class="panel panel-default">
      <%= image_tag('http://lorempixel.com/780/360', class: 'img-responsive') %>
      <div class="picture-footer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.</div>
      <div class="picture-credits">Foto: <%= link_to 'Lorem Ipsum', '#' %></div>
      <div class="panel-body">
        <div class="post-date">
          <span class="day">31</span>
          <span class="month">ago</span>
          <span class="year">2015</span>
        </div>
        <h3 class="post-title"><%= @title %></h3>
        <div class="post-meta">Por <%= link_to 'Javier de Vega', '#' %></div>
        <div class="post-description">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        <!-- CIVIO Banner -->
        <a href="http://www.civio.es/dona/" class="civio-banner" target="_blank">
          <img class="img-responsive" alt="Banner civio" src="<%= asset_path("banner_civio.jpg") %>">
        </a>
        <%= render 'partials/sharing_buttons', title: @title %>
      </div>
      <div class="post-comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'quiencobralaobra'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
  </div>

  <div class="sidebar col-sm-4">
    <%= render 'partials/sharing_buttons', title: @title %>
    <div class="related-entities panel panel-default">
      <div class="panel-heading">
        <h4>Protagonistas</h4>
      </div>
      <div class="panel-body">
        <ul>
          <% @article.mentions_in_content.each do |mention| %>
            <%= render(partial: 'partials/post_related_entity', locals: { entity: mention.mentionee }) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
