<div class="post">
  <div class="post-content">
    <div class="panel panel-default">
      <div class="post-title">
        <h2>
          <span><%= @title %></span>
        </h2>
      </div>
      <div class="post-picture">
        <% if @article.photo and !@article.photo.url.blank? %>
          <%= link_to image_tag(@article.photo.url(:full), :class => 'img-responsive'), article_path(@article), :class => 'image' %>
        <% end %>
      </div>
      <div class="picture-footer"><%= @article.photo_footer %></div>
      <div class="picture-credits">Foto: <%= link_to @article.photo_credit, @article.photo_credit_link, target: '_blank' %></div>
      <div class="panel-body">
        <h3 class="post-title"><%= @article.lead.html_safe %></h3>
        <div class="post-meta">
          <span class="post-meta-author"><%= @article.author.name %></span> · <span class="post-meta-date"><%= @article.publication_date.day %>.<%= @article.publication_date.month %>.<%= @article.publication_date.year %></span> 
        </div>
        <div class="post-description">
          <%= raw(@article.content) %>
        </div>
        <!-- CIVIO Banner -->
        <a href="http://www.civio.es/dona/" class="civio-banner" target="_blank">
          <img class="img-responsive" alt="Banner civio" src="<%= asset_path("banner_civio.jpg") %>">
        </a>
        <%= render 'partials/sharing_buttons', title: @title %>
      </div>
      <%= render 'partials/posts_comments' %>
    </div>
  </div>
</div>
