<div class="table-responsive">
  <table class="table footable table-striped">
    <thead>
      <tr>
        <th data-sort-ignore="true"></th>
        <th>Fecha</th>
        <th>Administración</th>
        <th>Empresa</th>
        <th>Tipo</th>
        <th>Procedimiento</th>
        <th>Tramitación</th>
        <th>Importe <i>(€)</i></th>
      </tr>
    </thead>
    <tbody>
    <% @contract_awards.each do |award| %>
      <tr>
        <td><%= link_to '<i class="glyphicon glyphicon-link"></i>'.html_safe, award_path(award) %></td>
        <td><%= award.award_date %></td>
        <td><%= link_to award.public_body.name, public_body_path(award.public_body) unless award.public_body.name.blank? %></td>
        <td><%= link_to award.bidder.name, bidder_path(award.bidder) unless award.bidder.name.blank? %></td>
        <td><%= award.category %></td>
        <td><%= award.process_type %></td>
        <td><%= award.process_track %></td>
        <td><%= award.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>