<div class="table-responsive">
  <table class="table sortable-theme-minimal" data-sortable>
    <thead>
      <tr>
        <th data-sortable="false"></th>
        <th data-sortable="false">Fuente</th>
        <th>Fecha adjudicación</th>
        <th>Tipo</th>

        <% if controller_name != 'public_bodies' %>
        <th>Administración pública</th>
        <% end %>

        <% if controller_name != 'bidders' %>
        <th>Grupo constructor</th>
        <% else %>
        <th>Empresa</th>
        <th data-sortable="false">Objeto</th>
        <% end %>

        <% if controller_name == 'public_bodies' %>
        <th data-sortable="false">Objeto</th>
        <% end %>

        <!--
        <th>Objeto</th>
        -->
        <!--
        <th>Procedimiento</th>
        <th>Tramitación</th>
        -->
        <th class="text-right" data-sortable-type="numeric" data-sorted="true" data-sorted-direction="descending">Importe <i>(€)</i></th>
      </tr>
    </thead>
    <tbody>
    <% awards.each do |award| %>
      <tr>
        <td><%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, award_path(award), title: 'Ver más', class: 'read-more' %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-link"></i>'.html_safe, "http://www.boe.es#{award.properties['URL PDF']}", target: '_blank' %></td>
        <td><%= award.award_date %></td>
        <td><%= award.category %></td>

        <% if controller_name != 'public_bodies' %>
        <td><%= link_to award.public_body.name, public_body_path(award.public_body) unless award.public_body.name.blank? %></td>
        <% end %>

        <% if controller_name != 'bidders' %>
        <td><%= link_to award.bidder.name, bidder_path(award.bidder) unless award.bidder.name.blank? %></td>
        <% else %>
        <td>...</td>
        <td><%= truncate(award.properties['Objeto del contrato - Descripción'], length: 112) %></td>
        <% end %>

        <% if controller_name == 'public_bodies' %>
        <td><%= truncate(award.properties['Objeto del contrato - Descripción'], length: 112) %></td>
        <% end %>

        <!--
        <td><%= truncate(award.properties['Objeto del contrato - Descripción'], length: 96) %></td>
        -->
        <!--
        <td><%= award.process_type %></td>
        <td><%= award.process_track %></td>
        -->
        <td class="text-right" data-value="<%= award.amount.to_f*0.01 %>"><strong><%= number_with_precision(award.amount.to_f*0.01, precision: 0, delimiter: ".") %></strong></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>