<div class="entity-content <%= controller_name %>">

  <div class="title entity single">
    <h2><%= @title %></h2>
  </div>

  <div class="sharing-right">
    <%= render 'partials/sharing_buttons', title: @title %>
  </div>

  <div class="entity-description">
    <% if controller.controller_name == 'bidders' %>
      De todas las adjudicaciones publicadas en el BOE entre 2009 y 2015, <strong><%= @title %></strong> se ha llevado de forma directa <strong><%= pluralize(@contract_awards.count, 'contrato', 'contratos')%></strong> por un importe de <strong><%= number_with_precision(@contract_awards_amount.to_f*0.01, precision: 0, delimiter: ".") %> €.</strong><br/>
      <% unless @contract_awards_utes.empty? %>
      Además, ha formado parte de varias UTE que resultaron adjudicatarias de otros <%= @contract_awards_utes.count %> contratos y que suman otros <%= number_with_precision(@contract_awards_utes_amount.to_f*0.01, precision: 0, delimiter: ".") %> €.<br/>
      Así, <%= @title %> ha estado presente, en total, en la adjudicación de <%= @contract_awards.count+@contract_awards_utes.count %> contratos y <%= number_with_precision((@contract_awards_amount.to_f+@contract_awards_utes_amount.to_f)*0.01, precision: 0, delimiter: ".") %> €.
      <% end %>
      De esa cantidad, un X% del importe fue adjudicado vía procedimiento negociado. Entre las administraciones que le contratan, la que tiene mayor peso es X (X % del total del importe adjudicado<% unless @contract_awards_utes.empty? %> tanto de forma directa como a través de las UTE en las que participa<% end %>).
    <% else %>
      De todas las adjudicaciones publicadas en el BOE entre 2009 y 2015, <%= @title_prefix %><strong><%= @title %></strong> ha adjudicado <strong><%= pluralize(@contract_awards.count, 'contrato', 'contratos')%></strong> por un importe de <strong><%= number_with_precision(@contract_awards_amount.to_f*0.01, precision: 0, delimiter: ".") %> €</strong>, de los cuales un X % ha sido por procedimiento negociado. <br/>
      <% if @contract_awards.count > 1 %>
      El principal grupo empresarial beneficiado ha sido X (está presente, de forma directa o a través de UTE, en el X % del total del importe adjudicado).
      <% else %>
      El único grupo empresarial beneficiado ha sido X.
      <% end %>
    <% end %>
  </div>

  <% if @contract_awards.length > 1 %>
  <div class="row entity-charts">
    <div class="col-md-6">
      <div class="entity-chart-title">
        <% if controller.controller_name == 'bidders' %>
        <h3>Reparto de contratos por Administración pública</h3>
        <% else %>
        <h3>Reparto de contratos por Grupo constructor</h3>
        <% end %>
        <% if controller.controller_name == 'bidders' && !@contract_awards_utes.empty? %>
        <div class="utes-switch-container">
          <input id="utes-switch" class="utes-switch" type="checkbox" checked data-size="small" data-on-text="Con UTE" data-off-text="Sin UTE">
        </div>
        <% end %>
      </div>
      <div id="treemap-chart" class="entity-chart">
        <div class='popover top' role='tooltip'>
          <div class='arrow'></div>
          <div class='popover-title'></div>
          <div class='popover-budget'><strong></strong> € <span class="percentage"></span></div>
        </div>
      </div>
      <div class="well">Texto explicativo del gráfico superior</div>
    </div>
    <div class="col-md-6">
      <div class="entity-chart-title">
        <% if controller.controller_name == 'bidders' %>
        <h3>Evolución temporal de los contratos recibidos</h3>
        <% else %>
        <h3>Evolución temporal de los contratos adjudicados</h3>
        <% end %>
      </div>
      <div id="timeline-bar-chart" class="entity-chart">
        <div class='popover top' role='tooltip'>
          <div class='arrow'></div>
          <div class='popover-title'><i class="glyphicon glyphicon-calendar"></i><span></span></div>
          <div class='popover-budget'><strong></strong> €</div>
        </div>
      </div>
      <div class="well">Texto explicativo del gráfico superior</div>
    </div>
  </div>
  <% end %>

  <% unless @qm_id.blank? %>
  <div class="panel panel-default entity-qm-embed">
    <iframe src="http://quienmanda.es/entities/<%= @qm_id %>?widget=1&history=" width="100%" height="450px" scrolling="no" marginheight="0" frameborder="0"></iframe>
  </div>
  <% end %>

  <div>
    <% if controller.controller_name == 'bidders' %>
    <h3>Contratos adjudicados a <%= @title %></h3>
    <% else %>
    <h3>Contratos adjudicados por <%= @title %></h3>
    <% end %>
    <div class="panel panel-default">
      <%= render('partials/contract_awards_table', awards: @contract_awards) %>
    </div>
  </div>

  <% if controller.controller_name == 'bidders' && !@contract_awards_utes.empty? %>
  <div>
    <h3>Contratos adjudicados a UTE en las que participa <%= @title %></h3>
    <div class="panel panel-default">
      <%= render('partials/contract_awards_table', awards: @contract_awards_utes, utes: true) %>
    </div>
  </div>
  <% end %>

</div>