<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="content-language" content="es-ES" />

  <!-- Use title if it's in the page YAML frontmatter -->
  <% if @title %>
    <title><%= @title %> | Quién Cobra la Obra</title>
  <% else %>
    <title>Quién Cobra la Obra</title>
  <% end %>

  <meta name="description" content="Un mapa de la contratación de obra pública en España">
  <meta name="keywords" content="contrato de servicios, proyecto de obra, constructoras, proyectos de construccion, constructor, obra nueva, obra construccion, proyecto obra, proyecto obra civil, licitación, obra pública, proyecto y construcción de obra, licitaciones públicas, contratación del estado, contratación publica, contrato de obra, contratos publicos, tipos de contratos, obras publicas, licitacion de obra publica, proyecto de construccion civil, proyectos en construccion, proyecto obra civil, concurso obra, contrato publico, contratacion del estado licitaciones, FCC, ACS, sacyr, acciona, ferrovial, villar mir, Florentino Pérez, entrecanales, Koplowitz, Civio, investigación, transparencia, contratos publicos españa, clasificacion de contratista de obra, clasificacion de empresas contratistas de obras, clasificacion contratistas obras, legislación de contratos del sector público, clasificacion contratistas servicios, contratos del sector publico resumen">
  <meta name="author" content="Fundación Ciudadana Civio">

  <% if @title %>
    <meta property="og:title" content="<%= @title %> | Quién Cobra la Obra">
  <% else %>
    <meta property="og:title" content="Quién Cobra la Obra">
  <% end %>
  <meta property="og:description" content="Un mapa de la contratación de obra pública en España">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:site_name" content="Quién Cobra la Obra">
  <meta property="og:type" content="website">

  <% if @title %>
    <meta name="twitter:title" content="<%= @title %> | Quién Cobra la Obra">
  <% else %>
    <meta name="twitter:title" content="Quién Cobra la Obra">
  <% end %>
  <meta name="twitter:description" content="Un mapa de la contratación de obra pública en España">
  <meta name="twitter:url" content="<%= request.original_url %>">
  <meta name="twitter:creator" content="@civio">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path("apple-icon-57x57.png") %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path("apple-icon-60x60.png") %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path("apple-icon-72x72.png") %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("apple-icon-76x76.png") %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path("apple-icon-114x114.png") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path("apple-icon-120x120.png") %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path("apple-icon-144x144.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path("apple-icon-152x152.png") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path("apple-icon-180x180.png") %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_path("android-icon-192x192.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path("favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path("favicon-96x96.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path("favicon-16x16.png") %>">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:300,300i,400,400i,700,700i">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
