<div class="panel panel-default panel-page">
  <ol class="page-navigation">
    <li class="<%= 'active' if index == 1 %>">
      <a href="<%= the_law_1_path() %>">¿A quién aplica?</a>
    </li>
    <li class="<%= 'active' if index == 2 %>">
      <a href="<%= the_law_2_path() %>">Tipos de contratos: por el objeto</a>
    </li>
    <li class="<%= 'active' if index == 3 %>">
      <a href="<%= the_law_3_path() %>">Tipos de contratos: por el proceso</a>
    </li>
    <li class="<%= 'active' if index == 4 %>">
      <a href="<%= the_law_4_path() %>">¿Cuándo se permite el uso del procedimiento negociado?</a>
    </li>
    <li class="<%= 'active' if index == 5 %>">
      <a href="<%= the_law_5_path() %>">Obligaciones de publicidad</a>
    </li>
    <li class="<%= 'active' if index == 6 %>">
      <a href="<%= the_law_6_path() %>">Prohibiciones para contratar con las AAPP</a>
    </li>
    <li class="<%= 'active' if index == 7 %>">
      <a href="<%= the_law_7_path() %>">Los tiempos</a>
    </li>
    <li class="<%= 'active' if index == 8 %>">
      <a href="<%= the_law_8_path() %>">Cláusulas de resolución?</a>
    </li>
  </ol>
</div>