<div class="table-responsive">
  <table class="table footable table-striped">
    <thead>
      <tr>
        <th data-sort-ignore="true"></th>
        <th>Fecha</th>
        <th>Administración</th>
        <th>Empresa</th>
        <th>Procedimiento</th>
        <th>Tipo</th>
        <th>Licitación <i>(€)</i></th>
        <th>Precio <i>(€)</i></th>
      </tr>
    </thead>
    <tbody>
    <% data.contracts.each_with_index do |contract, i| %>
      <% unless !(defined?(company)).nil? and company != contract.company %>
      <tr>
        <td><%= link_to '<i class="glyphicon glyphicon-link"></i>'.html_safe, '/contratos/'+i.to_s %></td>
        <td><%= contract.date %></td>
        <td><%= link_to contract.administration, '/administraciones/'+get_url( contract.administration, 'administrations' ) %></td>
        <td><%= link_to contract.company, '/empresas/'+get_url( contract.company, 'companies' ) %></td>
        <td><%= contract.procedure %></td>
        <td><%= contract.type %></td>
        <td><%= contract.tender %></td>
        <td><%= contract.price %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>