<div class="subtitle">
  <h2>Un mapa de la contratación de obra pública en España</h2>
</div>

<!-- Highlighted Posts -->
<% @articles_highlighted.each do |article| %>
  <div class="posts posts-highlighted row">
    <div class="wall-item col-sm-12">
      <%= render('partials/post', article: article) %>
    </div>
  </div>
<% end %>

<!-- Gallery -->
<div class="posts posts-gallery row">
  <div class="wall-item col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <span><%= link_to 'Las superobras', '/galeria' %></span>
        </h3>
      </div>
      <div class="panel-body">
        <%= link_to image_tag(image_path(@gallery_picture), :class => 'img-responsive'), '/galeria', :class => 'image' %>
        <div class="description">
          <p>Descubre las mayores obras realizadas en España entre 2009 y 2015</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Featured Posts -->
<div class="posts wall row">
  <% @articles.each do |article| %>
    <div class="wall-item col-sm-6">
      <%= render('partials/post', article: article) %>
    </div>
  <% end %>
</div>

<!--
<div class="title posts">
  <p>Artículos recientes</p>
</div>
-->

<div class="subtitle">
  <h2>Descrubre todos los datos</h2>
</div>

<div class="home-btns">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <a href="<%= awards_path() %>">
          <span class="icon contracts"></span>
          <span class="lines"></span>
          <span class="text">Buscador de contratos</span>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <a href="<%= public_bodies_path() %>">
          <span class="icon administrations"></span>
          <span class="lines"></span>
          <span class="text">Administraciones</span>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <a href="<%= bidders_path() %>">
          <span class="icon companies"></span>
          <span class="lines"></span>
          <span class="text">Grupos empresariales</span>
        </a>
      </div>
    </div>
  </div>
</div>