<div class="post">
  <div class="post-content post-gallery">
    <div class="panel panel-default">
      <div class="post-title">
        <h2>
          <span>Las superobras</span>
        </h2>
      </div>
        
      <div class="gallery-intro">Estas son las mayores obras realizadas en España entre 2009 y 2015</div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Estación de La Sagrera</h3>
          <p class="location">Barcelona</p>
          <p class="budget">366,4 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('estacion-la-sagrera-barcelona-1.jpg')%>" alt="Estación de La Sagrera, Barcelona">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 21 de junio de 2010 | <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Blanco-y-Montilla-asisten-al-acto-de-inicio-de-las/2b7e2c40-7995-4746-a33f-85e58e171c76">fomento.es</a></div>
          <div class="gallery-description">
            <p>Tanto este proyecto como la construcción de sus accesos se encuentran bajo investigación judicial tras la supuesta falsificación de certificaciones de obra, emitidas por funcionarios de ADIF, por las que las empresas adjudicatarias cobraron más dinero del que les correspondía de acuerdo al trabajo real realizado.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Construcción de los accesos a la estación de La Sagrera</h3>
          <p class="location">Barcelona</p>
          <p class="budget">222,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('estacion-la-sagrera-barcelona-2.jpg')%>" alt="Estación de La Sagrera, Barcelona">
          </div>
          <div class="picture-footer"><strong>Aleix Cortés</strong> | 30 de noviembre de 2012 | <a href="https://www.flickr.com/photos/ut440_131m/8238652291/in/photolist-dy2fia-kJ656q-cqotW3-dQkwgw-g3Vtpg-nJZtnx-bwR7WF-t83MC-t84c7-t838L-4MUkAP-t83Fk-9vhNR6-5co3bs-4zyvvg-5ciMmr-9vhPC2-t85ss-4MYx3s-aoZmmn-8cb1bT-4vy7q3-rdvbwJ-eESZni-eESZwr-u1E9nG-obu7dF-nbobiU-btNqzH-4EiBUt-8S75CK-9ZsSvx-dn2fJd-nsAtkb-8MhnAo-8nDwJM-8uDzMa-jCWgWh-cqosDd-pDoPNZ-nuDpsz-9ZvJg9-nsUWWE-nbo6bt-nsAtGd-8Axyq4-nbo5UX-nsAtSy-jCTrMp-3XR2hM">Flickr</a></div>
          <div class="gallery-description">
            <p>Primeras pruebas de trazado cerca de la boca del túnel Sants-Sagrera. La conexión ferroviaria con Francia se completó, pero no así los trabajos relativos a la futura estación intermodal que hoy están bajo investigación judicial tras la denuncia de ADIF por el fraude en la certificación de las obras.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Túnel de Sorbas</h3>
          <p class="location">Almería</p>
          <p class="budget">341,4 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tunel-sorbas-almeria.jpg')%>" alt="Túnel de Sorbas, Almería">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 9 de julio de 2010 | <a href="http://www.fomento.es/MFOMBPrensa/Noticias/Jos%C3%A9-Blanco-asiste-a-la-puesta-en-marcha-de-la-que/a1d0cddf-3377-4cf4-8454-1b88bb006152">fomento.es</a></div>
          <div class="gallery-description">
            <p>El importe abonado para la construcción de esta infraestructura, tapiada en 2014 para garantizar su conservación –sin demasiado éxito: <a href="http://www.elmundo.es/andalucia/2016/10/03/57f29f00ca4741d5768b460b.html">unos ladrones abrieron un boquete en el muro para robar cobre y otros materiales</a>–, supera en más de 90 millones de euros el importe de adjudicación.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Acceso ferroviario a la terminal 1 del aeropuerto</h3>
          <p class="location">Barcelona</p>
          <p class="budget">257,3 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tren-aeropuerto-barcelona.jpg')%>" alt="Acceso ferroviario a la terminal 1 del aeropuerto de Barcelona">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | Octubre de 2009 | <a href="http://www.pemb.cat/es/proyectos-estrategicos/acceso_de_cercanias_a_la_nueva_terminal_del_aeropuerto_de_barcelonael_prat/71/">pemb.cat</a></div>
          <div class="gallery-description">
            <p>La <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Pastor-asiste-al-inicio-de-las-obras-de-la-al-de/000e64c1-0856-44ae-8a04-02142bcc1804">primera piedra</a> fue colocada en 2015, cinco años después de su adjudicación. Fomento eleva su previsión de la inversión final por encima de los <a href="https://www.fomento.gob.es/MFOMBPrensa/Noticias/Catal%C3%A1-supervisa-el-avance-de-las-obras-del-nuevo-/bdb253d1-9218-4f63-9d0c-70931b3ee356">268,4 millones de euros</a>.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Autovía del Reguerón</h3>
          <p class="location">Murcia</p>
          <p class="budget">222,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('autovia-regueron-murcia.jpg')%>" alt="Autovía del Reguerón, Murcia">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 12 de marzo de 2015 | <a href="http://www.fomento.gob.es/MFOM/LANG_CASTELLANO/GABINETE_COMUNICACION/NOTICIAS1/2015/MARZO/150312-02.htm">fomento.es</a></div>
          <div class="gallery-description">
            <p>Casi cinco años después de la adjudicación de las obras y con los trabajos paralizados, Ana Pastor, entonces ministra de Fomento, visitaba Murcia para anunciar la inversión en el proyecto de 10 millones de euros.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Fase I de la ampliación de la estación de Atocha</h3>
          <p class="location">Madrid</p>
          <p class="budget">210,5 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('estacion-atocha-madrid.jpg')%>" alt="Fase I de la ampliación de la estación de Atocha, Madrid">
          </div>
          <div class="picture-footer"><strong>Ricardo Ricote</strong> | 17 de Noviembre de 2010 | <a href="https://www.flickr.com/photos/ricote/5185751528/in/photolist-9bVaEj-8fPT19-83GZwX-8fLA16-sd8Aj5-83GW1K-83L4CW-83L2fG-8fPNML-9bSzSz-9bVy67-8fPN79-9bSEgn-83GUJH-83L3Lw-9bS7Jg-5Zy6P4-9bS1VD-8Uchy6-9bVvN3-8Ufkg7-8UcivM-8Ucdez-8Ufjiu-8Ufe3b-83L6XE-83GYDz-8Uca2v-8fPR7W-9bVenj-9bVzhd-9bVkj5-9bSD86-9bSyzT-9bV71W-9bVF8Y-4C8kEG-83H1Fg-9bSdNB-8Ufg6A-8Ucc8t-9bSxup-83L8jQ-rxV6AR-9bVrwY-9bVsNd-9bVAuG-9bVnHh-9bSmax-9bSpJ8">Flickr</a></div>
          <div class="gallery-description">
            <p>Al fondo, la silueta del nuevo edificio diseñado por Rafael Moneo durante las obras. La ampliación, con un coste final de casi 40 millones por encima del importe de adjudicación inicial, fue inaugurada en diciembre de 2010, cuatro meses antes de lo previsto.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Ampliación de la línea 9 de Metro</h3>
          <p class="location">Madrid</p>
          <p class="budget">105 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('linea-9-metro-madrid-1.jpg')%>" alt="Ampliación de la línea 9 del Metro de Madrid">
          </div>
          <div class="picture-footer"><strong>Metro de Madrid</strong> | 28 de marzo de 2011 | <a href="https://www.metromadrid.es/es/comunicacion/prensa/galeria_de_imagenes/2011/marzo/noticia15.html">metrodemadrid.es</a></div>
          <div class="gallery-description">
            <p>El proyecto terminó requiriendo una inversión final de más de 190 millones de euros. Contemplaba <a href="http://www.madrid.org/cs/Satellite?blobcol=urldata&amp;blobheader=application%2Fpdf&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=filename%3D090917+ADJUDICACION+OBRAS+METRO+MIRASIERRA+Y+MONTECARMELO.pdf&amp;blobkey=id&amp;blobtable=MungoBlobs&amp;blobwhere=1220587818410&amp;ssbinary=true">la construcción simultánea</a> de las dos estaciones previstas. La Comunidad de Madrid decidió dividirlo en dos fases, lo que permitió celebrar la inauguración de la primera de las estaciones, la de Mirasierra, menos de dos meses antes de las elecciones de 2011.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Ampliación de la línea 9 de Metro</h3>
          <p class="location">Madrid</p>
          <p class="budget">105 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('linea-9-metro-madrid-2.jpg')%>" alt="Ampliación de la línea 9 del Metro de Madrid">
          </div>
          <div class="picture-footer"><strong>Metro de Madrid</strong> | 10 de enero de 2012 | <a href="https://www.metromadrid.es/es/comunicacion/prensa/galeria_de_imagenes/2012/enero/noticia2.html">metrodemadrid.es</a></div>
          <div class="gallery-description">
            <p>En la imagen, la expresidenta de la Comunidad de Madrid, Esperanza Aguirre durante una visita a las obras de la segunda fase de la ampliación de la línea 9. En total, el proyecto adjudicado a una UTE participada por Sacyr y Ferrovial superó en más de 85 millones de euros el importe inicial de adjudicación del contrato.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Tramo Hernialde-Zizurkil de la Y Vasca de Alta Velocidad</h3>
          <p class="location">Gipuzkoa</p>
          <p class="budget">158 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('hernialde-zizurkil-gipuzkoa.jpg')%>" alt="Tramo Hernialde-Zizurkil de la Y Vasca de Alta Velocidad, Gipuzkoa">
          </div>
          <div class="picture-footer"><strong>Irekia</strong> | 23 de julio de 2012 | <a href="http://www.irekia.euskadi.eus/es/news/11828-todos-los-tramos-vasca-gipuzkoa-estan-ejecucion-finalizados?criterio_id=913246&amp;track=1">irekia.euskadi.eus</a></div>
          <div class="gallery-description">
            <p>El entonces Lehendakari, Patxi López, durante el acto de colocación de la primera piedra de las obras del último tramo guipuzcoano que quedaban sin iniciar. Su final está previsto para otoño de 2017 y ya se ha certificado (pagado) un 70% de su presupuesto inicial.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Construcción de los accesos por San Mamés</h3>
          <p class="location">Bilbao</p>
          <p class="budget">215 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('acessos-bilbao.jpg')%>" alt="Construcción de los accesos a Bilbao por San Mamés">
          </div>
          <div class="picture-footer"><strong>Bizkaimedia</strong> | 5 de julio de 2012 | <a href="http://www.bizkaia.eus/home2/bizkaimedia/Contenido_Noticia.asp?Not_Codigo=10597&amp;SelTab=V&amp;idioma=CA&amp;dpto_biz=6&amp;codpath_biz=6">bizkaia.eus</a></div>
          <div class="gallery-description">
            <p>Finalizadas en mayo de 2013, estas obras de soterramiento de los accesos a la capital vizcaína precedieron al derribo de los viaductos de Sabino Arana, forma de entrada a la ciudad durante cuarenta años.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevo complejo ferroviario</h3>
          <p class="location">Valladolid</p>
          <p class="budget">136,9 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('complejo-ferroviario-valladolid.jpg')%>" alt="Nuevo complejo ferroviario en Valladolid">
          </div>
          <div class="picture-footer"><strong>Ayuntamiento de Valladolid</strong> | 20 de febrero de 2015 | <a href="http://www.valladolid.es/es/ciudad/urbanismo-vivienda/noticias/taller-central-reparaciones-renfe-complejo-ferroviario-plen">valladolid.es</a></div>
          <div class="gallery-description">
            <p>En la imagen, el exalcalde León de la Riva durante su visita a las obras. El pasado mes de septiembre, el Ayuntamiento de Valladolid aprobó <a href="http://www.larazon.es/local/castilla-y-leon/el-ayuntamiento-de-valladolid-reivindica-por-unanimidad-los-nuevos-talleres-de-renfe-CB13475272#.Ttt1BakBKgQ9HDS">una moción para solicitar el traslado urgente</a> de la actividad a los talleres construidos en el complejo, tras las <a href="http://cadenaser.com/emisora/2016/08/08/radio_valladolid/1470673529_208111.html">demoras y los anuncios incumplidos de Fomento</a>.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Ampliación del puente de Rande de la AP-9</h3>
          <p class="location">Pontevedra</p>
          <p class="budget">129,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('puente-rande-pontevedra.jpg')%>" alt="Ampliación del puente de Rande de la AP-9, Pontevedra">
          </div>
          <div class="picture-footer"><strong>Juan Elosua</strong> | 5 de abril de 2016</div>
          <div class="gallery-description">
            <p>La única obra adjudicada en 2015 del listado de 30 obras más caras de Quién Cobra la Obra; consiste en la adición de dos tableros a ambos lados del puente para aumentar el número de carriles disponibles y ampliar su capacidad.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Fase I del soterramiento del ferrocarril</h3>
          <p class="location">Logroño</p>
          <p class="budget">136 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('soterramiento-ferrocarril-logrono.jpg')%>" alt="Fase I del soterramiento del ferrocarril en Logroño">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 5 de julio de 2012 | <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Ana-Pastor-supervisa-las-obras-de-integraci%C3%B3n-del-/dadf5122-e2ca-4c08-9860-842471741efc">fomento.es</a></div>
          <div class="gallery-description">
            <p>La anterior ministra de Fomento, Ana Pastor, durante su visita a los trabajos de la primera de las tres fases previstas para soterrar las vías del tren en la capital riojana.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevo hospital</h3>
          <p class="location">Cuenca</p>
          <p class="budget">125,7 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('hospital-cuenca.jpg')%>" alt="Nuevo hospital de Cuenca">
          </div>
          <div class="picture-footer"><strong>Ignacio López//JCCM</strong> | 30 de noviembre de 2015 | <a href="https://www.flickr.com/photos/gobjccm/22791706174/in/photolist-FycnFS-FE5LhW-FGnywV-FhgDKS-DgKToD-DgKSeV-DDPUJs-DFZ2qc-Do8iTo-AAb9m3-BFy6zV-BDeTw5-AJ8AjX-AJ2sch-A6XKXn-zPmnof-zPsgMx-zPsitP-za5xfH-zPmgJE-A7UWvc-zPsk8R-FAw7fF-FGo5i8-ELWqgd-FE6ebA-FGo2px-FAvZnH-FGnWw6-FycGmN-FhgrJN-ELWf8h-EM8Axc-ERcFu5-ERoDVk-FEM8ja-FEMatk-ELVZw3-FAwbqV-EM8RHc-ERcJjU-ERcHDL-FEMb62-ELWc7Y-FGnKUV-FAvDtp-ELW4CE-A9EtQd-A6PgN5-FycwbC">Flickr</a></div>
          <div class="gallery-description">
            <p>Apenas un año después del <a href="https://www.dipucuenca.es/hemeroteca-2011/-/publicador/comienzan-las-obras-del-nuevo-hospital-1637/hemeroteca/02-febrero/80313/a139vXcA8f7W">inicio de las obras</a>, estas fueron suspendidas en 2012 con una ejecución del <a href="http://www.castillalamancha.es/actualidad/notasdeprensa/el-gobierno-regional-destina-cerca-de-cinco-millones-de-euros-al-programa-de-detecci%C3%B3n-precoz-de">2,73% del proyecto</a>, según el Gobierno Regional. Las obras se reanudaron a finales del mes de noviembre, meses después del cambio de la presidencia de Castilla-La Mancha.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Obras de ampliación del Hospital</h3>
          <p class="location">Guadalajara</p>
          <p class="budget">125,7 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('hospital-guadalajara.jpg')%>" alt="Obras de ampliación del Hospital de Guadalajara">
          </div>
          <div class="picture-footer"><strong>Junta de Castilla-La Mancha</strong> | 10 de septiembre de 2010 | <a href="http://www.castillalamancha.es/node/168012">castillalamancha.es</a></div>
          <div class="gallery-description">
            <p>El 22 de mayo de 2011, un año y medio después del inicio de los trabajos, el <a href="http://politica.elpais.com/politica/2011/08/08/actualidad/1312802640_941234.html">Gobierno presidido por Dolores de Cospedal firmaba el acta de paralización de las obras</a>. En el verano de 2015 <a href="http://www.castillalamancha.es/actualidad/notasdeprensa/ech%C3%A1niz-visita-las-obras-del-hospital-general-universitario-de-guadalajara">se reanudó la ampliación</a> del complejo hospitalario.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevo tanque de Gas Natural Licuado en el Puerto</h3>
          <p class="location">Bilbao</p>
          <p class="budget">117,9 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tanque-gas-puerto-bilbao.jpg')%>" alt="Nuevo tanque de Gas Natural Licuado en el Puerto de Bilbao">
          </div>
          <div class="picture-footer"><strong>Irekia</strong> | 21 de enero de 2015 | <a href="http://www.irekia.euskadi.eus/es/news/24093-lehendakari-inaugura-nuevo-tanque-gas-bahia-bizkaia?track=1">irekia.euskadi.eus</a></div>
          <div class="gallery-description">
            <p>La ampliación de las instalaciones de Bahía de Bizkaia Gas (BBG), empresa participada en un 50% por Enagas y el Ente Vasco de la Energía, la agencia energética del País Vasco, requirió una inversión final de más de 130 millones de euros.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevos accesos viarios al Puerto</h3>
          <p class="location">Barcelona</p>
          <p class="budget">117,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('accesos-puerto-barcelona.jpg')%>" alt="Nuevos accesos viarios al Puerto de Barcelona">
          </div>
          <div class="picture-footer"><strong>El Digital D Barcelona, Ayuntamiento de Barcelona</strong> | 4 de diciembre de 2014 | <a href="http://eldigital.barcelona.cat/es/los-nuevos-accesos-viarios-a-puerto-de-barcelona-estaran-operativos-en-2018_117234.html">eldigital.barcelona.cat</a></div>
          <div class="gallery-description">
            <p>Única obra de 2014 de los 30 mayores contratos de Quién Cobra la Obra. El proyecto pretende mejorar los accesos por carretera y ferrocarril por el sur del puerto de la capital catalana.</p>
            <a href="/contratos/13886" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>
  
      <div class="panel-body">
        <!-- CIVIO Banner -->
        <a href="http://www.civio.es/dona/" class="civio-banner" target="_blank">
          <img class="img-responsive" alt="Banner civio" src="<%= asset_path("banner_civio.jpg") %>">
        </a>
        <%= render 'partials/sharing_buttons', title: 'Las superobras' %>
      </div>
      <%= render 'partials/posts_comments' %>
    </div>
  </div>
</div>
