<div class="post">
  <div class="post-content post-gallery">
    <div class="panel panel-default">
      <div class="post-title">
        <h2>
          <span><%= @title %></span>
        </h2>
      </div>
        
      <div class="gallery-intro">Repasamos los mayores contratos entre <%= year_min() %> y <%= year_max() %>, en los que las obras del AVE son las grandes protagonistas. Desde ampliaciones de hospitales hasta la construcción de túneles y puentes, la mayor de estas adjudicaciones supera los 366 millones de euros.</div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Estación de La Sagrera</h3>
          <p class="location">Barcelona</p>
          <p class="budget">366,4 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('estacion-la-sagrera-barcelona-1.jpg')%>" alt="Estación de La Sagrera, Barcelona">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 21 de junio de 2010 | <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Blanco-y-Montilla-asisten-al-acto-de-inicio-de-las/2b7e2c40-7995-4746-a33f-85e58e171c76">fomento.es</a></div>
          <div class="gallery-description">
            <p>La joya de la corona. El contrato más caro fue ganado por una UTE participada por Dragados, Acciona, Comsa y Acsa. Tanto este proyecto como la construcción de sus accesos se encuentran bajo investigación judicial tras una demanda del Administrador de Infraestructuras Ferroviarias (ADIF) por una supuesta falsificación de certificaciones de obra. Esto significaría que las empresas adjudicatarias cobraron por obras no ejecutadas o emplearon materiales de peor calidad que los previstos.</p>
            <a href="/contratos/boe-b-2010-16993" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Construcción de los accesos a la estación de La Sagrera</h3>
          <p class="location">Barcelona</p>
          <p class="budget">222,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('estacion-la-sagrera-barcelona-2.jpg')%>" alt="Estación de La Sagrera, Barcelona">
          </div>
          <div class="picture-footer"><strong>Aleix Cortés</strong> | 30 de noviembre de 2012 | <a href="https://www.flickr.com/photos/ut440_131m/8238652291/in/photolist-dy2fia-kJ656q-cqotW3-dQkwgw-g3Vtpg-nJZtnx-bwR7WF-t83MC-t84c7-t838L-4MUkAP-t83Fk-9vhNR6-5co3bs-4zyvvg-5ciMmr-9vhPC2-t85ss-4MYx3s-aoZmmn-8cb1bT-4vy7q3-rdvbwJ-eESZni-eESZwr-u1E9nG-obu7dF-nbobiU-btNqzH-4EiBUt-8S75CK-9ZsSvx-dn2fJd-nsAtkb-8MhnAo-8nDwJM-8uDzMa-jCWgWh-cqosDd-pDoPNZ-nuDpsz-9ZvJg9-nsUWWE-nbo6bt-nsAtGd-8Axyq4-nbo5UX-nsAtSy-jCTrMp-3XR2hM">Flickr</a></div>
          <div class="gallery-description">
            <p>Adjudicada a una UTE de FCC, Ferrovial, Copisa y Rubau, la construcción de los accesos tanto viarios como ferroviarios sigue paralizada. La conexión ferroviaria con Francia se completó, pero no así los trabajos relativos a la futura estación intermodal y sus accesos, que se encuentran bajo investigación judicial tras la denuncia de ADIF por el fraude en la certificación de las obras. Tras continuos parones, las últimas estimaciones de Fomento señalan 2020 como año en el que se termine el proyecto, una fecha <a href="http://www.elperiodico.com/es/noticias/barcelona/sagrera-denuncia-falta-voluntad-politica-culminar-estacion-4736630">cuestionada por arquitectos, economistas e ingenieros</a>.</p>
            <a href="/contratos/boe-b-2010-16994" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Túneles sur bajo el Guadalquivir</h3>
          <p class="location">Sevilla</p>
          <p class="budget">269,3 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tunel-sur-sevilla.jpg')%>" alt="Túneles sur bajo el Guadalquivir, Sevilla">
          </div>
          <div class="picture-footer"><strong>Instituto Geográfico Nacional</strong> | 2013 | <a href="http://www.ign.es/web/comparador_pnoa/#map=15/-670218.97/4482281.67/0">ign.es</a></div>
          <div class="gallery-description">
            <p>La UTE formada por Aldesa, Copisa y Bruesa se llevó el contrato más caro de toda la construcción de la segunda ronda de circunvalación a Sevilla. Junto a su obra gemela –en la siguiente imagen–, está previsto que los túneles del Guadalquivir absorban, al menos, 505 millones de euros. La cantidad supone más de un tercio del presupuesto de toda la SE-40 que, <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Pastor-asegura-que-Fomento-continuar%C3%A1-con-la-de-la/d2137fdb-e823-46f9-8239-029290ab3f29">según señalaba Fomento en 2012</a>, es de 1.446 millones de euros. Por ahora, pese a la congelación de los fondos, este contrato ha costado más de <a href="https://assets.documentcloud.org/documents/3215932/Costes-t%C3%BAneles-SE-40.pdf">30 millones de euros</a>.</p>
            <a href="/contratos/boe-b-2009-13215" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Túneles norte bajo el Guadalquivir</h3>
          <p class="location">Sevilla</p>
          <p class="budget">236,2 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tunel-norte-sevilla.jpg')%>" alt="Túneles norte bajo el Guadalquivir, Sevilla">
          </div>
          <div class="picture-footer"><strong>Miguel Ángel Gavilanes</strong> | 17 de junio de 2016</div>
          <div class="gallery-description">
            <p>La construcción de los subterráneos norte de este tramo, cuya desembocadura está en el término municipal de Palomares del Río, en Sevilla, fue adjudicada a una UTE participada por OHL, Sando y Azvi. Esta compró una tuneladora que no ha entrado nunca en funcionamiento. En la imagen se ven las carpas donde las partes de la máquina permanecen custodiadas. Según Ana Sánchez Ameneiro, periodista del Diario de Sevilla, su mantenimiento y vigilancia <a href="http://blogs.grupojoly.com/la-catenaria/2016/07/06/el-paron-de-la-tuneladora-de-la-se-40-ha-costado-ya-56-millones/">cuestan 120.000 euros mensuales</a>. Entre los avances visibles, un cajón en la tierra que se excavó para situar la tuneladora. Acabó filtrándose agua y ahora ese cajón es un estanque con patos. El importe pagado asciende, hasta el momento, a <a href="https://assets.documentcloud.org/documents/3215932/Costes-t%C3%BAneles-SE-40.pdf">50 millones de euros</a>.</p>
            <a href="/contratos/boe-b-2009-19230" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>AVE entre Zamora y Ourense</h3>
          <p class="budget">583 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('ave-zamora-ourense.jpg')%>" alt="AVE entre Zamora y Ourense">
          </div>
          <div class="picture-footer"><p>Ministerio de Fomento | 19 de agosto de 2015 | <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Rajoy-supervisa-las-obras-de-la-conexi%C3%B3n-de-alta-y/3cbfd03b-fbed-413f-b77c-070140cfab63">fomento.gob.es</a></p></div>
          <div class="gallery-description">
            <p>La línea de Alta Velocidad Madrid-Galicia recibe cuatro contratos de los <a href="/contratos?utf8=%E2%9C%93&amp;bidder=&amp;public_bodies=&amp;process_type=&amp;start=&amp;end=&amp;amount=117000000%3B370000000">30 más cuantiosos</a> de todos los adjudicados de <%= year_min() %> a <%= year_max() %>. Estos comprenden desde la construcción de la plataforma del AVE, que incluye viaductos y túneles, al montaje de las vías. Se trata de los tramos Olmedo-Pedralba (198,2M€), Pedralba-Túnel del Padornelo (136,1M€), Cernadilla-Pedralba (125,7M€ más una <a href="https://assets.documentcloud.org/documents/3215616/Contratos-complementarios-y-modificados-de-ADIF.pdf">modificación de 10 millones</a>) y Prado-Porto (123,2M€). Este último recibió el año pasado la visita del presidente del Gobierno, Mariano Rajoy, y la entonces ministra de Fomento, Ana Pastor.</p>
            <a href="/contratos/boe-b-2012-30105" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato 1</a>
            <a href="/contratos/boe-b-2010-600" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato 2</a>
            <a href="/contratos/boe-b-2010-599" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato 3</a>
            <a href="/contratos/boe-b-2012-16608" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato 4</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Túnel de Sorbas</h3>
          <p class="location">Almería</p>
          <p class="budget">251,3 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tunel-sorbas-almeria.jpg')%>" alt="Túnel de Sorbas, Almería">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 9 de julio de 2010 | <a href="http://www.fomento.es/MFOMBPrensa/Noticias/Jos%C3%A9-Blanco-asiste-a-la-puesta-en-marcha-de-la-que/a1d0cddf-3377-4cf4-8454-1b88bb006152">fomento.es</a></div>
          <div class="gallery-description">
            <p>El importe total que el Estado pagó a la UTE adjudicataria –constituida por FCC y Sando– <a href="https://www.documentcloud.org/documents/3215572-Resoluci%C3%B3n-ADIF-Tunel-Sorbas.html">asciende a 341.435,66€</a>. Entre sobrecostes y modificaciones, el coste final de este tramo de Alta Velocidad supera en 90 millones de euros el importe de adjudicación. Esta infraestructura está finalizada pero no operativa: una vez terminada la obra, los accesos al subterráneo fueron <a href="http://www.lavanguardia.com/economia/20140427/54406383098/adif-tapia-tunel-largo-andalucia-ave-fantasma.html">tapiados en 2014</a> para garantizar su conservación. Aunque el tabique levantado no fue suficiente para frenar a los <a href="http://www.elmundo.es/andalucia/2016/10/03/57f29f00ca4741d5768b460b.html">ladrones que abrieron un boquete en el muro para robar cobre y otros materiales</a>.</p>
            <a href="/contratos/boe-b-2009-11007" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Alta Velocidad del Levante</h3>
          <p class="location">Alicante</p>
          <p class="budget">301,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('ave-levante-alicante.jpg')%>" alt="Alta Velocidad del Levante, Alicante">
          </div>
          <div class="picture-footer">Ministerio de Fomento | 5 de febrero de 2014 | <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Pastor-asiste-en-Alicante-al-cale-del-t%C3%BAnel-de-de/712a9da4-4f84-49ee-a00b-801599459d50">fomento.gob.es</a></div>
          <div class="gallery-description">
            <p>Entre las <a href="/contratos?utf8=%E2%9C%93&amp;amp;bidder=&amp;amp;public_bodies=&amp;amp;process_type=&amp;amp;start=&amp;amp;end=&amp;amp;amount=117000000%3B370000000">30 obras más caras de 2009 a 2015</a> se encuentran dos contratos de tramos contiguos de la Alta Velocidad del Levante. El primero, por un importe de 182 millones de euros, se encarga de la construcción del tramo San Isidro-Orihuela. <a href="https://assets.documentcloud.org/documents/3215616/Contratos-complementarios-y-modificados-de-ADIF.pdf#page=3">Fomento reconoce dos modificaciones</a> que recortaron los gastos un millón de euros, aunque actualmente cuenta con un <a href="https://assets.documentcloud.org/documents/3215617/Importes-ejecutados-de-3-obras-de-AVE.pdf">presupuesto de 187,3 millones</a>. El segundo, el tramo de Orihuela-Colada de la Buena Vida, fue adjudicado por 119,8 millones. En su caso, el contrato cuenta con una modificación que aumenta el gasto <a href="https://assets.documentcloud.org/documents/3215616/Contratos-complementarios-y-modificados-de-ADIF.pdf#page=5">10 millones de euros más</a>. En la imagen, la exministra de Fomento visitaba el cale del túnel –el final de una perforación– de Callosa de Segura, perteneciente al primero de estos dos contratos.</p>
            <a href="/contratos/boe-b-2010-23495" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato 1</a>
            <a href="/contratos/boe-b-2009-3414" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato 2</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Acceso ferroviario a la terminal 1 del aeropuerto</h3>
          <p class="location">Barcelona</p>
          <p class="budget">257,3 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tren-aeropuerto-barcelona.jpg')%>" alt="Acceso ferroviario a la terminal 1 del aeropuerto de Barcelona">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | Octubre de 2009 | <a href="http://www.pemb.cat/es/proyectos-estrategicos/acceso_de_cercanias_a_la_nueva_terminal_del_aeropuerto_de_barcelonael_prat/71/">pemb.cat</a></div>
          <div class="gallery-description">
            <p>La <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Pastor-asiste-al-inicio-de-las-obras-de-la-al-de/000e64c1-0856-44ae-8a04-02142bcc1804">primera piedra</a> fue colocada en 2015, cinco años después de su adjudicación. Con el arranque de las obras, se descongelaron los fondos y la UTE formada por Sacyr, Ferrovial y Copcisa ha recibido hasta ahora <a href="https://assets.documentcloud.org/documents/3215611/Cercan%C3%ADas-nueva-terminal-El-Prat.pdf">24,5 millones de euros</a>, lo que representa el 9,5% de su importe de adjudicación. El pasado mes de octubre el Ministerio de Fomento elevó su previsión de la inversión final hasta los <a href="https://www.fomento.gob.es/MFOMBPrensa/Noticias/Catal%C3%A1-supervisa-el-avance-de-las-obras-del-nuevo-/bdb253d1-9218-4f63-9d0c-70931b3ee356">268,4 millones de euros</a>.</p>
            <a href="/contratos/boe-b-2010-16507" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Autovía del Reguerón</h3>
          <p class="location">Murcia</p>
          <p class="budget">208,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('autovia-regueron-murcia.jpg')%>" alt="Autovía del Reguerón, Murcia">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 12 de marzo de 2015 | <a href="http://www.fomento.gob.es/MFOM/LANG_CASTELLANO/GABINETE_COMUNICACION/NOTICIAS1/2015/MARZO/150312-02.htm">fomento.es</a></div>
          <div class="gallery-description">
            <p>Casi cinco años después de la adjudicación de las obras a una UTE formada por Vías y Construcciones, San José y Comsa y con los trabajos paralizados, Ana Pastor, entonces ministra de Fomento, visitaba Murcia para anunciar una inversión de 10 millones de euros en el proyecto. La Dirección General de Carreteras estima que la autovía será terminada en 2020. Para ello cuenta con un <a href="https://assets.documentcloud.org/documents/3215612/Autov%C3%ADa-del-Reguer%C3%B3n.pdf">presupuesto de 217,86 millones de euros</a>, de los que ya ha invertido 45,2 millones.</p>
            <a href="/contratos/boe-b-2009-25562" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Fase I de la ampliación de la estación de Atocha</h3>
          <p class="location">Madrid</p>
          <p class="budget">171,4 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('estacion-atocha-madrid.jpg')%>" alt="Fase I de la ampliación de la estación de Atocha, Madrid">
          </div>
          <div class="picture-footer"><strong>Ricardo Ricote</strong> | 17 de Noviembre de 2010 | <a href="https://www.flickr.com/photos/ricote/5185751528/in/photolist-9bVaEj-8fPT19-83GZwX-8fLA16-sd8Aj5-83GW1K-83L4CW-83L2fG-8fPNML-9bSzSz-9bVy67-8fPN79-9bSEgn-83GUJH-83L3Lw-9bS7Jg-5Zy6P4-9bS1VD-8Uchy6-9bVvN3-8Ufkg7-8UcivM-8Ucdez-8Ufjiu-8Ufe3b-83L6XE-83GYDz-8Uca2v-8fPR7W-9bVenj-9bVzhd-9bVkj5-9bSD86-9bSyzT-9bV71W-9bVF8Y-4C8kEG-83H1Fg-9bSdNB-8Ufg6A-8Ucc8t-9bSxup-83L8jQ-rxV6AR-9bVrwY-9bVsNd-9bVAuG-9bVnHh-9bSmax-9bSpJ8">Flickr</a></div>
          <div class="gallery-description">
           <p>La ampliación de la estación fue inaugurada en diciembre de 2010, cuatro meses antes de lo previsto. Con una <a href="https://assets.documentcloud.org/documents/3215616/Contratos-complementarios-y-modificados-de-ADIF.pdf#page=3">modificación de 12,4 millones de euros y dos contratos complementarios que suman 15,1 millones</a> –todas las adjudicaciones se las llevó una UTE de Dragados y Tecsa–, su coste final fue de <a href="https://assets.documentcloud.org/documents/3215617/Importes-ejecutados-de-3-obras-de-AVE.pdf">210.535.330 euros</a>, 39 millones por encima del importe de adjudicación inicial. En la imagen, la silueta del nuevo edificio proyectado por Rafael Moneo que se levantó en la estación durante su construcción.</p>
            <a href="/contratos/boe-b-2009-19544" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Tramo Hernialde-Zizurkil de la Y Vasca de Alta Velocidad</h3>
          <p class="location">Gipuzkoa</p>
          <p class="budget">158 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('hernialde-zizurkil-gipuzkoa.jpg')%>" alt="Tramo Hernialde-Zizurkil de la Y Vasca de Alta Velocidad, Gipuzkoa">
          </div>
          <div class="picture-footer"><strong>Irekia</strong> | 23 de julio de 2012 | <a href="http://www.irekia.euskadi.eus/es/news/11828-todos-los-tramos-vasca-gipuzkoa-estan-ejecucion-finalizados?criterio_id=913246&amp;track=1">irekia.euskadi.eus</a></div>
          <div class="gallery-description">
            <p>El último tramo guipuzcoano licitado de la red vasca de alta velocidad consiste en la construcción de 5,8 km de plataforma entre Hernialde y Zizurkil. El trazado incluye la construcción de tres viaductos y el 86,5% del tramo proyectado es soterrado. Según el Gobierno vasco, su final está previsto para otoño de 2017 y <a href="https://assets.documentcloud.org/documents/3215918/Datos-Y-Vasca.pdf">ya se han certificado –pagado– 108,2 millones de euros</a>, un 70% de su presupuesto inicial. En la imagen, el entonces Lehendakari, Patxi López, durante el acto de colocación de la primera piedra.</p>
            <a href="/contratos/boe-b-2013-5224" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Obras complementarias de los Túneles de Pajares</h3>
          <p class="budget">148,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tuneles-pajares.jpg')%>" alt="Obras complementarias de los Túneles de Pajares">
          </div>
          <div class="picture-footer"><p>Ministerio de Fomento | <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Las-obras-de-la-Variante-de-Pajares-de-la-l%C3%ADnea-de/33efed73-d4df-47e2-bc9e-b04b4224093e">fomento.gob.es</a></p></div>
          <div class="gallery-description">
            <p>Este contrato, que contempla actuaciones en el interior de los Túneles de Pajares, se une a una larga lista de inversiones para este paso subterráneo de León a Asturias. Según <a href="www.elconfidencial.com/tecnologia/2016-01-19/muchas-sombras-y-pocas-luces-en-la-recta-final-de-la-variante-de-pajares_1136213/"><em>El Confidencial</em></a>, el proyecto ha consumido más de 3.500 millones de euros. Durante la perforación de los túneles se vieron afectados los acuíferos del sistema montañoso que atraviesa. Esto motivó la denuncia del proyecto ante Bruselas, que deberá responder a la misma <a href="www.europarl.europa.eu/sides/getAllAnswers.do?reference=E-2016-006047&amp;language=ES">antes de junio de 2017</a>. En la imagen, la exministra socialista Magdalena Álvarez, durante una visita a las obras.</p>
            <a href="/contratos/boe-b-2011-13103" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Construcción de los accesos por San Mamés</h3>
          <p class="location">Bilbao</p>
          <p class="budget">147,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('acessos-bilbao.jpg')%>" alt="Construcción de los accesos a Bilbao por San Mamés">
          </div>
          <div class="picture-footer"><strong>Bizkaimedia</strong> | 5 de julio de 2012 | <a href="http://www.bizkaia.eus/home2/bizkaimedia/Contenido_Noticia.asp?Not_Codigo=10597&amp;SelTab=V&amp;idioma=CA&amp;dpto_biz=6&amp;codpath_biz=6">bizkaia.eus</a></div>
          <div class="gallery-description">
            <p>Estas obras de soterramiento de los accesos a la capital vizcaína precedieron al <a href="http://www.eitb.eus/es/noticias/sociedad/videos/detalle/2050598/video-timelapse-demolicion-viaducto-sabino-arana/">derribo de los viaductos de Sabino Arana</a>, forma de entrada a la ciudad durante cuarenta años. La infraestructura, abierta al público en mayo de 2013, fue construida por una UTE participada por las constructoras Enrique Otaduy –<a href="http://www.boe.es/borme/dias/2016/05/19/pdfs/BORME-A-2016-94-48.pdf#page=9">disuelta</a>–, Excavaciones Cantábricas, Excavaciones Viuda de Sainz, Cimentaciones Abanda y Asfaltos Uribe.</p>
            <a href="/contratos/boe-b-2009-795" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevo complejo ferroviario</h3>
          <p class="location">Valladolid</p>
          <p class="budget">136,9 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('complejo-ferroviario-valladolid.jpg')%>" alt="Nuevo complejo ferroviario en Valladolid">
          </div>
          <div class="picture-footer"><strong>Ayuntamiento de Valladolid</strong> | 20 de febrero de 2015 | <a href="http://www.valladolid.es/es/ciudad/urbanismo-vivienda/noticias/taller-central-reparaciones-renfe-complejo-ferroviario-plen">valladolid.es</a></div>
          <div class="gallery-description">
            <p>El pasado mes de septiembre, el Ayuntamiento de Valladolid aprobó por unanimidad <a href="http://www.valladolid.es/es/ayuntamiento/corporacion-municipal/organos-gobierno/pleno/sesiones-plenarias/acuerdos-adoptados-pleno/acuerdos-adoptados-pleno-corporacion-dia-7-septiembre-2016.ficheros/346570-Acuerdos%20Pleno%207%20Septiembre%202016%20web.pdf">una moción para solicitar el traslado urgente</a> de la actividad a los talleres de Renfe construidos en el complejo, tras las <a href="http://cadenaser.com/emisora/2016/08/08/radio_valladolid/1470673529_208111.html">demoras y los anuncios incumplidos de Fomento</a>. El nuevo taller central de reparaciones sustituye a los históricos de la zona de Delicias, por lo que la preocupación del consistorio la protagoniza la falta de carga de trabajo, que afecta a la contratación de trabajadores. Antes, en el mes de marzo, eran los <a href="http://www.eldiadevalladolid.com/noticia/ZA4319DBC-B52B-3015-DD6E28A1B3A33EBA/20160315/diputados/senadores/piden/impulsar/complejo/ferroviario/valladolid">senadores y diputados de la región</a> los que pedían su puesta en funcionamiento. En la imagen, el exalcalde León de la Riva durante su visita a las obras.</p>
            <a href="/contratos/boe-b-2009-23866" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Ampliación del puente de Rande de la AP-9</h3>
          <p class="location">Pontevedra</p>
          <p class="budget">130,6 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('puente-rande-pontevedra.jpg')%>" alt="Ampliación del puente de Rande de la AP-9, Pontevedra">
          </div>
          <div class="picture-footer"><strong>Juan Elosua</strong> | 5 de abril de 2016</div>
          <div class="gallery-description">
            <p>Se trata de la única obra adjudicada en 2015 de las más caras de <em>¿Quién Cobra la Obra?</em>. La mayoría de las grandes infraestructuras fueron licitadas antes de 2011. Este puente, que cruza la Ría de Vigo y une los municipios de Moaña y Redondela, fue construido en 1981 con dos carriles por sentido. Esta actuación, a cargo de una UTE de Dragados y Puentes y Calzadas, <a href="http://fomento.gob.es/MFOM/LANG_CASTELLANO/GABINETE_COMUNICACION/NOTICIAS1/2015/FEBRERO/150227-07.htm">consiste en la adición de dos tableros</a> a ambos lados del puente para aumentar el número de carriles disponibles y ampliar su capacidad.</p>
            <a href="/contratos/boe-b-2015-575" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Fase I del soterramiento del ferrocarril</h3>
          <p class="location">Logroño</p>
          <p class="budget">134,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('soterramiento-ferrocarril-logrono.jpg')%>" alt="Fase I del soterramiento del ferrocarril en Logroño">
          </div>
          <div class="picture-footer"><strong>Ministerio de Fomento</strong> | 5 de julio de 2012 | <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Ana-Pastor-supervisa-las-obras-de-integraci%C3%B3n-del-/dadf5122-e2ca-4c08-9860-842471741efc">fomento.es</a></div>
          <div class="gallery-description">
            <p>Una <em>rara avis</em> en contratos de este tipo ya que fue adjudicado en solitario, sin UTE, a Sacyr. La obra, finalizada, contó con <a href="https://assets.documentcloud.org/documents/3215616/Contratos-complementarios-y-modificados-de-ADIF.pdf#page=4">dos modificaciones que incrementaron el precio 6,1 millones de euros</a>. En la imagen, la exministra de Fomento, Ana Pastor, durante su visita en 2012 a los trabajos de la primera de las tres fases previstas para soterrar las vías del tren en la capital riojana.</p>

            <a href="/contratos/boe-b-2010-646" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevo hospital</h3>
          <p class="location">Cuenca</p>
          <p class="budget">129,1 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('hospital-cuenca.jpg')%>" alt="Nuevo hospital de Cuenca">
          </div>
          <div class="picture-footer"><strong>Ignacio López//JCCM</strong> | 30 de noviembre de 2015 | <a href="https://www.flickr.com/photos/gobjccm/22791706174/in/photolist-FycnFS-FE5LhW-FGnywV-FhgDKS-DgKToD-DgKSeV-DDPUJs-DFZ2qc-Do8iTo-AAb9m3-BFy6zV-BDeTw5-AJ8AjX-AJ2sch-A6XKXn-zPmnof-zPsgMx-zPsitP-za5xfH-zPmgJE-A7UWvc-zPsk8R-FAw7fF-FGo5i8-ELWqgd-FE6ebA-FGo2px-FAvZnH-FGnWw6-FycGmN-FhgrJN-ELWf8h-EM8Axc-ERcFu5-ERoDVk-FEM8ja-FEMatk-ELVZw3-FAwbqV-EM8RHc-ERcJjU-ERcHDL-FEMb62-ELWc7Y-FGnKUV-FAvDtp-ELW4CE-A9EtQd-A6PgN5-FycwbC">Flickr</a></div>
          <div class="gallery-description">
            <p>La imagen, que muestra un escaso avance de las actuaciones, fue tomada en 2015, cuatro años después de la adjudicación e inicio de las obras. Y es que, apenas un año después del <a href="https://www.dipucuenca.es/hemeroteca-2011/-/publicador/comienzan-las-obras-del-nuevo-hospital-1637/hemeroteca/02-febrero/80313/a139vXcA8f7W">inicio de su ejecución</a>, estas fueron suspendidas en 2012, con una ejecución del <a href="http://www.castillalamancha.es/actualidad/notasdeprensa/el-gobierno-regional-destina-cerca-de-cinco-millones-de-euros-al-programa-de-detecci%C3%B3n-precoz-de">2,73% del proyecto</a>, según el Gobierno Regional. Las obras se reanudaron a finales del mes de noviembre, meses después del cambio de la presidencia de Castilla-La Mancha.</p>
            <a href="/contratos/boe-b-2010-29650" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>
      
      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Obras de ampliación del Hospital</h3>
          <p class="location">Guadalajara</p>
          <p class="budget">124,2 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('hospital-guadalajara.jpg')%>" alt="Obras de ampliación del Hospital de Guadalajara">
          </div>
          <div class="picture-footer"><strong>Junta de Castilla-La Mancha</strong> | 10 de septiembre de 2010 | <a href="http://www.castillalamancha.es/node/168012">castillalamancha.es</a></div>
          <div class="gallery-description">
            <p>El 22 de julio de 2011, un año y medio después del inicio de los trabajos, el Gobierno presidido por Dolores de Cospedal, que estrenaba en aquellos meses el cargo, <a href="http://politica.elpais.com/politica/2011/08/08/actualidad/1312802640_941234.html">firmaba el acta de paralización de las obras</a>. Según <a href="http://www.abc.es/20110702/comunidad-castillalamancha/abcp-hospital-abandona-obra-impagos-20110702.html"><em>ABC</em></a>, semanas antes del parón, la UTE adjudicataria, participada por Corsan Corviam y Vías y Construcciones, abandonó las obras por impagos de la Junta. En el verano de 2015 <a href="http://www.castillalamancha.es/actualidad/notasdeprensa/ech%C3%A1niz-visita-las-obras-del-hospital-general-universitario-de-guadalajara">se reanudó la ampliación</a> del complejo hospitalario.</p>
            <a href="/contratos/boe-b-2009-17074" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Ampliación de la línea 9 de Metro</h3>
          <p class="location">Madrid</p>
          <p class="budget">121,2 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('linea-9-metro-madrid-1.jpg')%>" alt="Ampliación de la línea 9 del Metro de Madrid">
          </div>
          <div class="picture-footer"><strong>Metro de Madrid</strong> | 28 de marzo de 2011 | <a href="https://www.metromadrid.es/es/comunicacion/prensa/galeria_de_imagenes/2011/marzo/noticia15.html">metrodemadrid.es</a></div>
          <div class="gallery-description">
            <p>El proyecto, adjudicado a una UTE participada por Sacyr y Ferrovial, contemplaba <a href="http://www.madrid.org/cs/Satellite?blobcol=urldata&amp;amp;blobheader=application%2Fpdf&amp;amp;blobheadername1=Content-Disposition&amp;amp;blobheadervalue1=filename%3D090917+ADJUDICACION+OBRAS+METRO+MIRASIERRA+Y+MONTECARMELO.pdf&amp;amp;blobkey=id&amp;amp;blobtable=MungoBlobs&amp;amp;blobwhere=1220587818410&amp;amp;ssbinary=true">la construcción simultánea</a> del túnel y las dos estaciones previstas. La Comunidad de Madrid decidió dividirlo en dos fases, lo que permitió celebrar la inauguración de la primera de las estaciones en marzo de 2011, la de Mirasierra, a menos de dos meses de las elecciones.</p>
            <a href="/contratos/boe-b-2009-33887" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Ampliación de la línea 9 de Metro</h3>
          <p class="location">Madrid</p>
          <p class="budget">121,2 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('linea-9-metro-madrid-2.jpg')%>" alt="Ampliación de la línea 9 del Metro de Madrid">
          </div>
          <div class="picture-footer"><strong>Metro de Madrid</strong> | 10 de enero de 2012 | <a href="https://www.metromadrid.es/es/comunicacion/prensa/galeria_de_imagenes/2012/enero/noticia2.html">metrodemadrid.es</a></div>
          <div class="gallery-description">
            <p>En total, la <a href="https://www.metromadrid.es/es/comunicacion/prensa/2015/Marzo/noticia09.html">Comunidad de Madrid cifra en 191 millones de euros</a> la inversión total de todo el proyecto –es decir, con contratos de dirección de obra y seguridad, por ejemplo–. En la imagen, la expresidenta regional, Esperanza Aguirre durante una visita a las obras de la segunda fase de la ampliación de la línea 9. Debido al terreno, la perforación de algunos tramos del túnel se tuvo que realizar por el método tradicional: a pico y pala.</p>
            <a href="/contratos/boe-b-2009-33887" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevo tanque de Gas Natural Licuado en el Puerto</h3>
          <p class="location">Bilbao</p>
          <p class="budget">117,9 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('tanque-gas-puerto-bilbao.jpg')%>" alt="Nuevo tanque de Gas Natural Licuado en el Puerto de Bilbao">
          </div>
          <div class="picture-footer"><strong>Irekia</strong> | 21 de enero de 2015 | <a href="http://www.irekia.euskadi.eus/es/news/24093-lehendakari-inaugura-nuevo-tanque-gas-bahia-bizkaia?track=1">irekia.euskadi.eus</a></div>
          <div class="gallery-description">
           <p>Contrato licitado por Bahía de Bizkaia Gas (BBG), una empresa participada en un 50% por Enagas y el Ente Vasco de la Energía, la agencia energética del País Vasco. La obra, adjudicada a Cobra, Sener y Balzola, consistía en la ampliación de sus instalaciones de almacenamiento de gas en Zierbena. Según BBG, su construcción requirió una <a href="http://www.bbg.es/es/compartiendo-ideas/noticias/bahia-de-bizkaia-gas-inaugura-su-tercer-tanque-de-gnl-y-amplia-su-capacidad-de-almacenamiento-e-implementa-nuevos-servicios-de-carga-de-buques-metaneros/">inversión final de 130 millones de euros</a>.</p>
            <a href="/contratos/boe-b-2012-44444" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-title">
          <h3>Nuevos accesos viarios al Puerto</h3>
          <p class="location">Barcelona</p>
          <p class="budget">117,8 millones €</p>
        </div>
        <div class="gallery-content">
          <div class="post-picture">
            <img class="img-responsive" src="<%= image_path('accesos-puerto-barcelona.jpg')%>" alt="Nuevos accesos viarios al Puerto de Barcelona">
          </div>
          <div class="picture-footer"><strong>El Digital D Barcelona, Ayuntamiento de Barcelona</strong> | 4 de diciembre de 2014 | <a href="http://eldigital.barcelona.cat/es/los-nuevos-accesos-viarios-a-puerto-de-barcelona-estaran-operativos-en-2018_117234.html">eldigital.barcelona.cat</a></div>
          <div class="gallery-description">
            <p>Fomento estima que la inversión final, si se suman las expropiaciones y la asistencia técnica para control y vigilancia, <a href="http://www.fomento.gob.es/MFOMBPrensa/Noticias/Fomento-inicia-las-obras-de-un-nuevo-acceso-viario/3a16023e-439b-4d9f-826b-de8b89765a1e">será de 141,97 millones de euros</a>. Las obras, adjudicadas a una UTE de Acciona, Ferrovial, Sacyr y Copcisa, pretenden mejorar los accesos sur por carretera y ferrocarril al puerto de la capital catalana.</p>
            <a href="/contratos/boe-b-2014-42086" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-plus"></i> Ver contrato</a>
          </div>
        </div>
      </div>
  
      <div class="panel-body">
        <!-- CIVIO Banner -->
        <a href="http://www.civio.es/dona/" class="civio-banner" target="_blank">
          <img class="img-responsive" alt="Banner civio" src="<%= asset_path("banner_civio.jpg") %>">
        </a>
        <%= render 'partials/sharing_buttons', title: @title %>
      </div>
      <%= render 'partials/posts_comments' %>
    </div>
  </div>
</div>
