<h2 class="search-title">Resultados de búsqueda para <strong><%= params[:search] %></strong></h2>

<% unless @articles.empty? %>
<div class="title articles">
  <h2>Artículos</h2>
</div>
<div class="posts wall row">
  <% @articles.each do |article| %>
    <div class="wall-item <% if @articles.count > 2 %>col-sm-4<% else %>col-sm-<%= 12/@articles.count %><% end %>">
      <%= render('partials/post', article: article) %>
    </div>
  <% end %>
</div>
<% end %>

<% unless @groups.empty? %>
<div class="title companies">
  <h2>Grupos constructores</h2>
</div>
<%= render('partials/entities', entities: @groups, field: :group, path: 'grupos-constructores') %>
<% end %>

<% unless @public_bodies.empty? %>
<div class="title administrations">
  <h2>Administraciones</h2>
</div>
<%= render('partials/entities', entities: @public_bodies, field: :name, path: 'administraciones') %>
<% end %>

<% unless @awards.empty? %>
<div class="title contracts">
  <h2>Contratos</h2>
</div>
<div class="panel panel-default">
  <%= render('partials/contract_awards_table', awards: @awards) %>
</div>
<% end %>