<div class="title contracts">
  <h2>Contratos</h2>
</div>

<div class="panel panel-default contracts-filters">
  <h3>Buscar contratos</h3>
  <%= form_tag "/contratos", method: "get" do %>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= label_tag :bidder, "Grupo constructor" %>
        <%= select_tag :bidder, options_from_collection_for_select(@bidders, "slug", "group"), include_blank: 'Todos los grupos constructores', class: "form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= label_tag :public_bodies, "Administración" %>
        <%= select_tag :public_bodies, options_from_collection_for_select(@public_bodies, "id", "name"), include_blank: 'Todas las administraciones', class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= label_tag :process_type, "Tipo de procedimiento" %>
        <%= select_tag :process_type, options_from_collection_for_select(@contract_awards_types, "process_type", "process_type"), include_blank: 'Cualquier tipo de procedimiento', class: "form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= label_tag :date, "Fecha adjudicación" %>
        <div class="input-daterange input-group">
          <%= text_field_tag "start", nil, placeholder: "desde", class: "form-control" %>
          <span class="input-group-addon">-</span>
          <%= text_field_tag "end", nil, placeholder: "hasta",class: "form-control" %>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="form-group col-sm-6">
        <%= label_tag :amount, "Importe" %>
        <%= text_field_tag :amount, nil %>
      </div>
    </div>
    <%= button_tag(type: 'submit', class: 'btn btn-default btn-primary') do %>
    <i class='glyphicon glyphicon-search'></i> Buscar
    <% end %>
  <% end %>
</div>

<div class="panel panel-default">
  <%= render('partials/contract_awards_table', awards: @contract_awards) %>
</div>

<div class="text-center">
  <%= paginate @contract_awards %>
</div>
