<div class="title contracts">
  <h2>Contratos</h2>
</div>

<div class="panel panel-default contracts-filters">
  <h3>Buscar contratos</h3>
  <%= form_tag "/contratos", method: "get" do %>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= label_tag :bidder, "Grupo constructor" %>
        <%= select_tag :bidder, options_from_collection_for_select(@bidders, "slug", "group", params[:bidder]), include_blank: 'Todos los grupos constructores', class: "form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= label_tag :public_body, "Administración" %>
        <%= select_tag :public_body, options_from_collection_for_select(@public_bodies, "id", "name", params[:public_body]), include_blank: 'Todas las administraciones', class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= label_tag :process_type, "Tipo de procedimiento" %>
        <%= select_tag :process_type, options_from_collection_for_select(@contract_awards_types, "process_type", "process_type", params[:process_type]), include_blank: 'Cualquier tipo de procedimiento', class: "form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= label_tag :date, "Fecha adjudicación" %>
        <div class="input-daterange input-group">
          <%= text_field_tag "start", params[:start], placeholder: "desde", class: "form-control" %>
          <span class="input-group-addon">-</span>
          <%= text_field_tag "end", params[:end], placeholder: "hasta",class: "form-control" %>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="form-group col-sm-6">
        <%= label_tag :amount, "Importe" %>
        <%= text_field_tag :amount, nil, {'data-values': @amounts.join(','), 'data-from': @amount_min, 'data-to': @amount_max, 'data-type': 'double', 'data-grid': true, 'data-postfix': ' €', 'data-hide_min_max': true } %>
      </div>
    </div>
    <button class="btn btn-default btn-primary" type="submit">
      <i class='glyphicon glyphicon-search'></i> Buscar
    </button>
  <% end %>
</div>

<div class="panel panel-default">
  <%= render('partials/contract_awards_table', awards: @contract_awards) %>
</div>

<% if @pagination %>
<div class="text-center">
  <%= paginate @contract_awards %>
</div>
<% end %>
