<div class="title contract single">
  <h2>Contrato</h2>
</div>

<div class="sharing-right">
  <%= render 'partials/sharing_buttons', title: @award.description %>
</div>

<table class="table contract-detail">
  <tbody>
    <tr>
      <td colspan="2">
        <p class="label">Objeto</p>
        <p class="description"><%= @award.description %></p>
      </td>
      <td class="text-right">
        <p class="label">Importe</p>
        <p class="budget"><strong><%= number_to_currency(@award.amount*0.01, unit: '', precision: 2, delimiter: '.', separator: ',') %></strong> €</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">AAPP adjudicadora</p>
        <p class="entity"><%= link_to @award.public_body.name, public_body_path(@award.public_body) unless @award.public_body.name.blank?%></p>
      </td>
      <td>
        <p class="label">Grupo constructor</p>
        <p class="entity"><%= link_to @award.bidder.group, bidder_path(@award.bidder) unless @award.bidder.group.blank? %></p>
        <p class="label">Empresa</p>
        <p class="entity-company"><%= @award.bidder.name %></p>
      </td>
      <td class="text-right">
        <p class="label">Fecha adjudicación <i class="glyphicon glyphicon-calendar"></i></p>
        <p class="date"><%= @award.award_date %></p>
        <% unless @award.properties['Formalización del contrato - Fecha de formalización del contrato'].blank? %>
        <p class="label">Fecha formalización <i class="glyphicon glyphicon-calendar"></i></p>
        <p class="date"><%= @award.properties['Formalización del contrato - Fecha de formalización del contrato'] %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <p class="label">Procedimiento</p>
        <p class="property"><%= @award.category %></p>
        <p class="label">Tramitación</p>
        <p class="property">...</p>
        <p class="label">Fuente</p>
        <p class="source"><%= link_to '<i class="glyphicon glyphicon-file"></i> BOE'.html_safe, "http://www.boe.es/buscar/doc.php?id=#{@award.boe_id}", target: '_blank' %></p>
      </td>
      <td colspan="2">
        <% if @award.properties['Presupuesto base de licitación'] %>
        <p class="label">Presupuesto base de licitación</p>
        <p class="property"><%= @award.properties['Presupuesto base de licitación'].gsub!('euros', '€') %></p>
        <% end %>
        <% if @award.properties['Análisis - Ámbito geográfico'] %>
        <p class="label">Ámbito geográfico</p>
        <p class="property"><%= @award.properties['Análisis - Ámbito geográfico'] %></p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<!--
<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table footable table-striped">
      <tbody>
        <% @award.properties.keys.sort.each do |key| %>
          <% next if @award.properties[key].blank? %>
          <tr>
            <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> <%= key %></th>
            <td><%= @award.properties[key] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
-->
