<div class="title contract single">
  <h2>Contrato</h2>
</div>

<div class="panel panel-default">
  <div class="table-responsive">
    <p><%= @award.description %></p>
    <table class="table footable table-striped">
      <tbody>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Fecha adjudicación</th>
          <td><%= @award.award_date %></td>
        </tr>
        <tr>
          <th>Fecha formalización</th>
          <td><%= @award.properties['Formalización del contrato - Fecha de formalización del contrato'] %></td>
        </tr>
        <tr>
          <th>AAPP adjudicadora</th>
          <td><%= link_to @award.public_body.name, public_body_path(@award.public_body) unless @award.public_body.name.blank?%></td>
        </tr>
        <tr>
          <th>Grupo constructor</th>
          <td><%= link_to @award.bidder.group, bidder_path(@award.bidder) unless @award.bidder.group.blank? %></td>
        </tr>
        <tr>
          <th>Empresa</th>
          <td><%= @award.bidder.name %></td>
        </tr>
        <tr>
          <th>Tipo</th>
          <td><%= @award.category %></td>
        </tr>
        <tr>
          <th>Importe</th>
          <td><strong><%= number_to_currency(@award.amount*0.01, unit: '', precision: 2, delimiter: '.', separator: ',') %></strong> €</td>
        </tr>
        <tr>
          <th>Tramitación</th>
          <td>....</td>
        </tr>
        <tr>
          <th>Presupuesto base de licitación</th>
          <td><%= @award.properties['Presupuesto base de licitación'].gsub!('euros', '€') %></td>
        </tr>
        <tr>
          <th>Ámbito geográfico</th>
          <td><%= @award.properties['Análisis - Ámbito geográfico'] %></td>
        </tr>
        <tr>
          <th>Fuente</th>
          <td><%= link_to '<i class="glyphicon glyphicon-file"></i>'.html_safe, "http://www.boe.es/buscar/doc.php?id=#{@award.boe_id}", target: '_blank' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--
<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table footable table-striped">
      <tbody>
        <% @award.properties.keys.sort.each do |key| %>
          <% next if @award.properties[key].blank? %>
          <tr>
            <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> <%= key %></th>
            <td><%= @award.properties[key] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
-->
