---

---

<div class="title contract single">
  <h2>Contrato</h2>
</div>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table footable table-striped">
      <tbody>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Fecha</th>
          <td><%= data.date %></td>
        </tr>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Administración</th>
          <td><%= link_to data.administration, '/administraciones/'+get_url( data.administration, 'administrations' ) %></td>
        </tr>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Empresa</th>
          <td><%= link_to data.company, '/empresas/'+get_url( data.company, 'companies' ) %></td>
        </tr>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Procedimiento</th>
          <td><%= data.procedure %></td>
        </tr>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Tipo</th>
          <td><%= data.type %></td>
        </tr>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Licitación ($)</th>
          <td><%= data.tender %></td>
        </tr>
        <tr>
          <th><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> Precio ($)</th>
          <td><%= data.price %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
