<!DOCTYPE html>
<html>
  <%= render "partials/head" %>
  <body>
    <%= render "partials/header" %>
    <div class="container">
      <% unless notice.nil? %>
      <p class="alert-info"><%= notice %></p>
      <% end %>
      <% unless alert.nil? %>
      <p class="alert-info"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <%= render "partials/footer" %>
  </body>
</html>
